.theme-1 {
  background: #2a2f45; }
  .theme-1 .cm-s-tomorrow-night {
    color: #c3c6c4; }
  .theme-1 .cm-s-tomorrow-night span.cm-comment {
    color: #969696; }
  .theme-1 .cm-s-tomorrow-night span.cm-atom {
    color: #845dc4; }
  .theme-1 .cm-s-tomorrow-night span.cm-number,
  .theme-1 .cm-s-tomorrow-night span.cm-attribute {
    color: #dd925f; }
  .theme-1 .cm-s-tomorrow-night span.cm-keyword {
    color: #b092b9; }
  .theme-1 .cm-s-tomorrow-night span.cm-string {
    color: #b5bc67; }
  .theme-1 .cm-s-tomorrow-night span.cm-meta {
    color: #89bdb5; }
  .theme-1 .cm-s-tomorrow-night span.cm-tag {
    color: #efc371; }
  .theme-1 .cm-s-tomorrow-night span.cm-def {
    color: #efc371; }
  .theme-1 .cm-s-tomorrow-night span.cm-bracket {
    color: #808080; }
  .theme-1 .cm-s-tomorrow-night span.cm-builtin {
    color: #80a1bc; }
  .theme-1 .cm-s-tomorrow-night span.cm-operator {
    color: #7c7c7c; }

.theme-2 {
  background: #0D1016; }
  .theme-2 .cm-s-tomorrow-night {
    color: #c3c6c4; }
  .theme-2 .cm-s-tomorrow-night span.cm-comment {
    color: #969696; }
  .theme-2 .cm-s-tomorrow-night span.cm-atom {
    color: #C296E9; }
  .theme-2 .cm-s-tomorrow-night span.cm-number,
  .theme-2 .cm-s-tomorrow-night span.cm-attribute {
    color: #FFBE5C; }
  .theme-2 .cm-s-tomorrow-night span.cm-keyword {
    color: #DD836E; }
  .theme-2 .cm-s-tomorrow-night span.cm-string {
    color: #52C4FF; }
  .theme-2 .cm-s-tomorrow-night span.cm-meta {
    color: #7993D9; }
  .theme-2 .cm-s-tomorrow-night span.cm-tag {
    color: #FED27C; }
  .theme-2 .cm-s-tomorrow-night span.cm-def {
    color: #FED27C; }
  .theme-2 .cm-s-tomorrow-night span.cm-bracket {
    color: #808080; }
  .theme-2 .cm-s-tomorrow-night span.cm-builtin {
    color: #80a1bc; }
  .theme-2 .cm-s-tomorrow-night span.cm-operator {
    color: #7c7c7c; }

.theme-3 {
  background: #082321; }
  .theme-3 .cm-s-tomorrow-night {
    color: #c3c6c4; }
  .theme-3 .cm-s-tomorrow-night span.cm-comment {
    color: #969696; }
  .theme-3 .cm-s-tomorrow-night span.cm-atom {
    color: #BD82A1; }
  .theme-3 .cm-s-tomorrow-night span.cm-number,
  .theme-3 .cm-s-tomorrow-night span.cm-attribute {
    color: #FFBE5C; }
  .theme-3 .cm-s-tomorrow-night span.cm-keyword {
    color: #DD836E; }
  .theme-3 .cm-s-tomorrow-night span.cm-string {
    color: #B5BC67; }
  .theme-3 .cm-s-tomorrow-night span.cm-meta {
    color: #7993D9; }
  .theme-3 .cm-s-tomorrow-night span.cm-tag {
    color: #BD82A1; }
  .theme-3 .cm-s-tomorrow-night span.cm-def {
    color: #BD82A1; }
  .theme-3 .cm-s-tomorrow-night span.cm-bracket {
    color: #808080; }
  .theme-3 .cm-s-tomorrow-night span.cm-builtin {
    color: #80a1bc; }
  .theme-3 .cm-s-tomorrow-night span.cm-operator {
    color: #7c7c7c; }

.theme-4 {
  background: #2C2A2D; }
  .theme-4 .cm-s-tomorrow-night {
    color: #c3c6c4; }
  .theme-4 .cm-s-tomorrow-night span.cm-comment {
    color: #969696; }
  .theme-4 .cm-s-tomorrow-night span.cm-atom {
    color: #A8A0EC; }
  .theme-4 .cm-s-tomorrow-night span.cm-number,
  .theme-4 .cm-s-tomorrow-night span.cm-attribute {
    color: #EE9B70; }
  .theme-4 .cm-s-tomorrow-night span.cm-keyword {
    color: #ED6C88; }
  .theme-4 .cm-s-tomorrow-night span.cm-string {
    color: #B4D982; }
  .theme-4 .cm-s-tomorrow-night span.cm-meta {
    color: #90DAE6; }
  .theme-4 .cm-s-tomorrow-night span.cm-tag {
    color: #A8A0EC; }
  .theme-4 .cm-s-tomorrow-night span.cm-def {
    color: #90DAE6; }
  .theme-4 .cm-s-tomorrow-night span.cm-bracket {
    color: #808080; }
  .theme-4 .cm-s-tomorrow-night span.cm-builtin {
    color: #ED6C88; }
  .theme-4 .cm-s-tomorrow-night span.cm-operator {
    color: #7c7c7c; }

body, html {
  font-family: "Roboto Mono";
  color: white; }

.grid {
  display: grid;
  grid-template-columns: repeat(3, auto); }

.grid-item {
  padding: 20px;
  margin: 20px;
  border-radius: 8px; }

/*# sourceMappingURL=style.css.map */
