$theme2-bg:#0D1016;
$theme2-primary :#c3c6c4;
$theme2-property :#c3c6c4;
$theme2-comment: #969696;
$theme2-bracket: #808080;
$theme2-operator:#7c7c7c;
$theme2-atom:#C296E9;
$theme2-number:#FFBE5C;
$theme2-attr:#FFBE5C;
$theme2-keyword:#DD836E;
$theme2-string:#52C4FF;
$theme2-meta:#7993D9;
$theme2-tag:#FED27C;
$theme2-def:#FED27C;
$theme2-var:#FED27C;
$theme2-builtin:#80a1bc;


.theme-2 {
  background: $theme2-bg;

.cm-s-tomorrow-night, .rdmd-code {
	color: $theme2-primary;
}

span.cm-comment {
	color: $theme2-comment;
}

span.cm-atom {
	color: $theme2-atom
}

span.cm-number,
span.cm-attribute {
	color: $theme2-number
}

span.cm-keyword {
	color: $theme2-keyword;
}

span.cm-string {
	color: $theme2-string;
}

span.cm-meta {
	color: $theme2-meta;
}

span.cm-variable {
	color: $theme2-var;
}

span.cm-tag {
	color: $theme2-tag;
}

span.cm-def {
	color: $theme2-def;
}

span.cm-bracket {
	color: $theme2-bracket;
}

span.cm-builtin,{
	color: $theme2-builtin;
}

span.cm-operator {
	color: $theme2-operator;
}


}