$theme5-bg:#2C2A2D;
$theme5-primary :#c3c6c4;
$theme5-property :#c3c6c4;
$theme5-comment: #969696;
$theme5-bracket: #808080;
$theme5-operator:#7c7c7c;
$theme5-atom:#c678dd;
$theme5-number:#EE9B70;
$theme5-attr:#EE9B70;
$theme5-keyword:#ED6C88;
$theme5-string:#98c379;
$theme5-meta:#56b6c2;
$theme5-tag:#e5c07b;
$theme5-def:#61afef;
$theme5-var:#F9D778;
$theme5-builtin:#e06c75;

.theme-5 {
  background: $theme5-bg;

.cm-s-tomorrow-night, .rdmd-code {
	color: $theme5-primary;
}

span.cm-comment {
	color: $theme5-comment;
}

span.cm-atom {
	color: $theme5-atom
}

span.cm-number,
span.cm-attribute {
	color: $theme5-number
}

span.cm-keyword {
	color: $theme5-keyword;
}

span.cm-string {
	color: $theme5-string;
}

span.cm-meta {
	color: $theme5-meta;
}

span.cm-tag {
	color: $theme5-tag;
}

span.cm-def {
	color: $theme5-def;
}

span.cm-variable {
	color: $theme5-var;
}

span.cm-bracket {
	color: $theme5-bracket;
}

span.cm-builtin{
	color: $theme5-builtin;
}

span.cm-operator {
	color: $theme5-operator;
}


}