$theme6-bg:#041717;
$theme6-primary :#c3c6c4;
$theme6-property :#c3c6c4;
$theme6-comment: #969696;
$theme6-bracket: #808080;
$theme6-operator:#7c7c7c;
$theme6-atom:#C296E9;
$theme6-number:#FFBE5C;
$theme6-attr:#FFBE5C;
$theme6-keyword:#DD836E;
$theme6-string:#52C4FF;
$theme6-meta:#7993D9;
$theme6-tag:#FFBE5C;
$theme6-def:#FFBE5C;
$theme6-var:#FFBE5C;
$theme6-builtin:#80a1bc;


.theme-6 {
  background: $theme6-bg;

.cm-s-tomorrow-night {
	color: $theme6-primary;
}

.cm-s-tomorrow-night span.cm-comment {
	color: $theme6-comment;
}

.cm-s-tomorrow-night span.cm-atom {
	color: $theme6-atom
}

.cm-s-tomorrow-night span.cm-number,
.cm-s-tomorrow-night span.cm-attribute {
	color: $theme6-number
}

.cm-s-tomorrow-night span.cm-keyword {
	color: $theme6-keyword;
}

.cm-s-tomorrow-night span.cm-string {
	color: $theme6-string;
}

.cm-s-tomorrow-night span.cm-meta {
	color: $theme6-meta;
}

.cm-s-tomorrow-night span.cm-variable {
	color: $theme6-var;
}

.cm-s-tomorrow-night span.cm-tag {
	color: $theme6-tag;
}

.cm-s-tomorrow-night span.cm-def {
	color: $theme6-def;
}

.cm-s-tomorrow-night span.cm-bracket {
	color: $theme6-bracket;
}

.cm-s-tomorrow-night span.cm-builtin,{
	color: $theme6-builtin;
}

.cm-s-tomorrow-night span.cm-operator {
	color: $theme6-operator;
}


}