$theme3-bg:#082321;
$theme3-primary :#c3c6c4;
$theme3-property :#c3c6c4;
$theme3-comment: #969696;
$theme3-bracket: #808080;
$theme3-operator:#7c7c7c;
$theme3-atom:#DD836E;
$theme3-number:#FFBE5C;
$theme3-attr:#FFBE5C;
$theme3-keyword:#DD836E;
$theme3-string:#B5BC67;
$theme3-meta:#7993D9;
$theme3-tag:#BD82A1;
$theme3-def:#BD82A1;
$theme3-var:#FFBE5C;
$theme3-builtin:#80a1bc;


.theme-3 {
  background: $theme3-bg;

.cm-s-tomorrow-night, .rdmd-code {
	color: $theme3-primary;
}

span.cm-comment {
	color: $theme3-comment;
}

span.cm-atom {
	color: $theme3-atom
}

span.cm-number,
span.cm-attribute {
	color: $theme3-number
}

span.cm-keyword {
	color: $theme3-keyword;
}

span.cm-string {
	color: $theme3-string;
}

span.cm-meta {
	color: $theme3-meta;
}

span.cm-tag {
	color: $theme3-tag;
}

span.cm-def {
	color: $theme3-def;
}

span.cm-variable {
	color: $theme3-def;
}

span.cm-bracket {
	color: $theme3-bracket;
}

span.cm-builtin{
	color: $theme3-builtin;
}

span.cm-operator {
	color: $theme3-operator;
}


}