$theme1-bg:#2a2f45;
$theme1-primary :#c3c6c4;
$theme1-comment: #969696;
$theme1-bracket: #808080;
$theme1-operator:#7c7c7c;
$theme1-atom:#845dc4;
$theme1-number:#dd925f;
$theme1-attr:#dd925f;
$theme1-keyword:#b092b9;
$theme1-string:#b5bc67;
$theme1-meta:#89bdb5;
$theme1-tag:#efc371;
$theme1-def:#efc371;
$theme1-var:#efc371;
$theme1-builtin:#80a1bc;

.theme-1 {
  background: $theme1-bg;

.cm-s-tomorrow-night {
	color: $theme1-primary;
}

.cm-s-tomorrow-night span.cm-comment {
	color: $theme1-comment;
}

.cm-s-tomorrow-night span.cm-atom {
	color: $theme1-atom
}

.cm-s-tomorrow-night span.cm-number,
.cm-s-tomorrow-night span.cm-attribute {
	color: $theme1-number
}

.cm-s-tomorrow-night span.cm-keyword {
	color: $theme1-keyword;
}

.cm-s-tomorrow-night span.cm-string {
	color: $theme1-string;
}

.cm-s-tomorrow-night span.cm-meta {
	color: $theme1-meta;
}

.cm-s-tomorrow-night span.cm-tag {
	color: $theme1-tag;
}

.cm-s-tomorrow-night span.cm-def {
	color: $theme1-def;
}

.cm-s-tomorrow-night span.cm-bracket {
	color: $theme1-bracket;
}

.cm-s-tomorrow-night span.cm-builtin,{
	color: $theme1-builtin;
}

.cm-s-tomorrow-night span.cm-operator {
	color: $theme1-operator;
}


}